*{
    margin: 0;
    padding: 0;
    
}
body{
   background-image: url(/Images/place-holders/purple-petaled-flower-on-white-surface-934011.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   z-index: -10000;
}
.imagesgallery{
   text-align: center;
    position: relative;
    top: 8vh;
}
.imagesgallery a img{

    width: 250px;
    height: 200px;
    
    margin: 15px;
    transition: 1s;
    border: solid rgba(0, 0, 0, 0) 2px;
    
}



.imagesgallery a img:hover{
    filter:grayscale(50%);
    transform: scale(1.1);
    border: solid rgb(0, 0, 0) 2px;
    border-radius: 10px;
}

.nav-links a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.logo a{
    color: rgb(0, 0, 0);
}
.burger div{
    background-color: black;
}
footer{
    margin-top: 70px;
}
